$color-primary : rgb(32, 32, 32);
$color-secondary : rgb(236, 236, 236);

.header{
    background-color: $color-primary;
    color:$color-secondary;
    padding: 1rem 2rem;
   
    a{
        text-decoration: none;
        text-transform:  lowercase;
        letter-spacing: 0.2rem;
        margin: 0 1rem;
        font-weight: 500;
        font-size: 1.5rem;
        color: $color-secondary;
    }
    .header__brand{
        margin: 0;
        .header__brand--first{
            text-transform: lowercase;
            font-size: 2.5rem;
            letter-spacing: 0.2rem;
        }
        .header__brand--second{
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.5rem;
        }
    }
    .header__searchBar{
        background-color: $color-secondary;
        width: 50%;
        border-radius: 1.5rem;
        padding: 0.1rem 1rem;
        margin: 0 1rem;
        
        img{
            width: 1.2rem;
        }
        input{
            font-size: 1.5rem;
            background-color: $color-secondary;
            padding: 0.5rem 0;
            width: 100%;
            border: none;
            &:focus-visible{
                outline: none;
            }
        }
    }
    .header__items{
        position: relative;
        .header__items--open{
            font-size: 3.5rem;
            cursor: pointer;
        }
    }
    .header__menu{
      background-color: $color-primary;
      border-radius: 1rem;
      padding: 1rem 1.5rem;
        position: absolute;
        top: 5rem;
        right: -0.5em;
        animation-name: menuScroll;
        animation-duration: 0.5s;
        z-index: 1;
        span{
            margin: 0.3rem 0 0.5rem 0;
        }
    }
}
@keyframes menuScroll {
   0%{
    opacity: 0;
    transform: translateY(-3rem);
   }
   80%{
    transform: translateY(0.5rem);
   }
   100%{
    opacity: 1;
    transform: translate(0);
   }
}
